@charset "UTF-8";
.modal {
  position: fixed;
  /* Позиционирование фиксировано, чтобы оно всегда оставалось на месте, даже при прокрутке страницы */
  top: 0;
  /* Отступ сверху равен 0, чтобы оно начиналось с верхнего края экрана */
  left: 0;
  /* Отступ слева равен 0, чтобы оно начиналось с левого края экрана */
  width: 100vw;
  /* Ширина равна 100%, чтобы оно занимало всю ширину экрана */
  height: 100vh;
  /* Высота равна 100%, чтобы оно занимало всю высоту экрана */
  overflow: hidden;
  /* Если содержимое модального окна превышает его размеры, появляется полоса прокрутки */
  background-color: rgba(0, 0, 0, 0.4);
  /* Полупрозрачный черный фон */
  color: #FFE093;
  z-index: 9999;
  opacity: 0;
  transition: 0.3s ease-in-out;
  font-family: "Futura PT", sans-serif;
  line-height: 110%; }
  .modal.show {
    opacity: 1; }
  .modal .modal-content {
    margin: 140px auto;
    /* 15% от верхнего края экрана до модального окна и автоматические отступы по бокам */
    padding: 50px;
    width: 900px;
    /* Ширина модального окна равна 80% */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    background: linear-gradient(289deg, #01160F 2.69%, #326A4C 51.61%, #01160F 100%); }
    .modal .modal-content .close {
      font-size: 100px;
      cursor: pointer;
      text-align: right;
      width: 100%;
      height: 50px;
      line-height: 50%; }
    .modal .modal-content form {
      margin-top: 5px;
      width: 600px;
      height: 420px; }
      .modal .modal-content form h2 {
        width: 100%;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        margin: 0 0 25px 0; }
      .modal .modal-content form p {
        color: #FFE093;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        /* 26.4px */ }
      .modal .modal-content form a {
        color: #FFE093;
        text-decoration: underline; }
      .modal .modal-content form input {
        border: 4px solid #FBD77D;
        border-radius: 15px;
        margin: 0 0 25px 0;
        padding: 15px 20px;
        width: 552px;
        color: #FBD77D;
        background-color: rgba(0, 0, 0, 0);
        font-family: "Futura PT", sans-serif;
        font-size: 24px; }
        .modal .modal-content form input::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #FFE09380 !important;
          opacity: 1; }
        .modal .modal-content form input::-moz-placeholder {
          /* Firefox 19+ */
          color: #FFE09380 !important;
          opacity: 1; }
        .modal .modal-content form input::-ms-input-placeholder {
          /* IE 10+ */
          color: #FFE09380 !important;
          opacity: 1; }
        .modal .modal-content form input::-moz-placeholder {
          /* Firefox 18- */
          color: #FFE09380 !important;
          opacity: 1; }
        .modal .modal-content form input::placeholder {
          /* Most modern browsers support this now. */
          color: #FFE09380 !important; }
        .modal .modal-content form input.name-field {
          width: 242px;
          margin-bottom: 20px; }
        .modal .modal-content form input.first {
          margin-right: 20px; }
        .modal .modal-content form input.button-submit {
          padding: 20px 40px;
          background-color: #DCB354;
          color: #FFF9F1;
          font-size: 20px;
          line-height: 96%;
          width: 330px;
          border: none;
          border-radius: 80px;
          display: block;
          cursor: pointer;
          margin-left: auto;
          margin-right: auto;
          transition: all 0.3s; }
          .modal .modal-content form input.button-submit:hover {
            scale: 1.05;
            -webkit-box-shadow: rgba(241, 236, 229, 0.3960784314) 0px 0px 10px 0px;
            box-shadow: rgba(241, 236, 229, 0.3960784314) 0px 0px 10px 0px; }

/*# sourceMappingURL=ModalFornPay.css.map */
