.content{
  &.PhoneMainInfo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
      .frame3_block {
        opacity: 1;
        width: 982px;
        height: 250px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .frame3_block_h4 {
        font-family: 'Futura PT', sans-serif;
        text-align: center;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 44px */
        background: linear-gradient(222deg, #CA8341 4.27%, #FBD77D 48.6%, #FFECBE 72.39%, #FBD77D 103.75%, #CA8341 146.99%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .frame3_block_h2 {
        font-family: 'Futura PT', sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 70.4px;
        position: relative;
        margin: 0 0 20px 0 ;
        background: linear-gradient(222deg, #CA8341 4.27%, #FBD77D 48.6%, #FFECBE 72.39%, #FBD77D 103.75%, #CA8341 146.99%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .frame3_block_p {
        font-family: 'Futura PT', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 36.8px;
        height: auto;
        position: relative;
        margin: 0;
        width: 915px;
        span {
          font-size: 24px;
          line-height: 27.6px;
        }
      }

      .frame3_block_h3 {
        font-family: 'Futura PT', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 38.1px;
        height:58px;
        position: relative;
        margin: 0;
        background: linear-gradient(222deg, #CA8341 4.27%, #FBD77D 48.6%, #FFECBE 72.39%, #FBD77D 103.75%, #CA8341 146.99%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
  }
}
@media (min-width: 960px) and (max-width: 1300px) {
  .content{
    &.PhoneMainInfo{
      .frame3_block {
        width: 730px;
        height: 200px;
        margin: auto 85px;
      }
      .frame3_block_h4 {
        font-size:36px ;
        font-weight: 700;
        line-height: 110%; /* 44px */
      }
      .frame3_block_h2 {
        font-size: 36px;
        font-style: normal;
        line-height: 110%;
        margin: 0 0 20px 0 ;
      }

      .frame3_block_p {
        font-size: 24px;
        line-height: 110%;
        height: auto;
        margin: 0;
        width: 720px;
        span {
          font-size: 20px;
          line-height: 110%;
        }
      }

      .frame3_block_h3 {
        font-family: 'Futura PT', sans-serif;
        font-size: 36px;
        line-height: 110%;
        height:40px;
        margin-bottom:20px ;
      }
    }
  }
}

@media (min-width: 560px) and (max-width: 959px) {
  .content{
    &.PhoneMainInfo{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      .frame3_block {
        width: 460px;
        height: 555px;
      }
      .frame3_block_h4 {
        font-size: 24px;
        font-weight: 700;
        line-height: 110%; /* 44px */
        width: 460px;
      }
      .frame3_block_h2 {
        font-size: 36px;
        font-style: normal;
        line-height: 110%;
        margin: 0 0 20px 0 ;
      }

      .frame3_block_p {
        font-family: 'Futura PT', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        height: auto;
        margin: 0;
        width: 460px;
        span {
          font-size: 24px;
          line-height: 110%;
        }
      }

      .frame3_block_h3 {
        font-family: 'Futura PT', sans-serif;
        font-size: 36px;
        line-height: 110%;
        height:80px;
        margin-bottom:20px ;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 559px) {
  .content{
    &.PhoneMainInfo{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      .frame3_block {
        width: 290px;
        height: 555px;
        align-items: center;
      }
      .frame3_block_h4 {
        font-size: 24px;
        font-weight: 700;
        line-height: 110%; /* 44px */
        width: 290px;
        text-align: center;
      }
      .frame3_block_h2 {
        font-size: 24px;
        font-style: normal;
        line-height: 110%;
        margin: 0 0 10px 0 ;
        text-align: left;
        width: 290px;
      }

      .frame3_block_p {
        font-family: 'Futura PT', sans-serif;
        text-align: left;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        height: auto;
        margin: 0;
        width: 290px;
        span {
          font-size: 18px;
          line-height: 110%;
        }
      }

      .frame3_block_h3 {
        font-family: 'Futura PT', sans-serif;
        font-size: 24px;
        line-height: 110%;
        height:58px;
        text-align: left;
        margin-bottom:10px ;
      }
    }
  }
}